<template>
    <section>
        <h2>{{crypt("Test")}}</h2>
        <div class="breeds">
            <div class="breed" v-for="breed in breeds" :key="breed.id">
                <div class="breed-content">
                    <p><strong>Name: </strong> {{ breed.name }}</p>
                    <p v-if='breed.origin'><strong>Origin: </strong> {{ breed.origin }}</p>
                    <p v-if='breed.life_span'><strong>Life Span: </strong> {{ breed.life_span }}</p>
                    <p v-if='breed.breed_group'><strong>Breed Group: </strong> {{ breed.breed_group }}</p>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import axios from 'axios'
import CryptoJS from 'crypto-js'

export default {
    name: 'Home',
    components: {},
    data() {
        return {
            breeds: []
        }
    },
    methods: {
        crypt(text){
            return CryptoJS.AES.encrypt(text, "sicher").toString()
        },
        getBreeds () {
             axios.get('https://api.thedogapi.com/v1/breeds', {
                 headers: {
                     'x-api-key': '0e7ac2ab-a9e2-4066-9500-0269be0ada9b'
                 }
             }).then(data => {
                 this.breeds = data.data
            })
        }
    },
    created () {
        this.getBreeds()
    }
}
</script>

<style lang="scss">
    .breeds {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 15px;
        margin: 15px 0;

        @media screen and (max-width: 600px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
    .breed {
        background-color: #ffffff;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
        padding: 15px;
        &:hover {
            box-shadow: 0px 3px 8px 6px rgba(117, 119, 129, 0.568);
        }
    }
</style>