<template>
  <nav>
      <h1 class="title">File<span>Crypt</span></h1>
      <ul>
          <li @click="navigate('/')">Feed</li>
          <li @click="navigate('/about')">About</li>
      </ul>
  </nav>
</template>

<script>
export default {
    name: 'Navbar',
    methods: {
        navigate (route){
            this.$router.push(route)
        }
    }
}
</script>

<style lang="scss" scoped>
nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #343434;
    padding: 0 15px;
    box-sizing: border-box;

    .title {
        color: #cecece;
        font-size: 28px;
        line-height: 60px;
        margin: 0;
        font-weight: 900;
        text-transform: uppercase;

        span {
            color: #ffffff;
            font-weight: 300;
        }
    }
}

ul {
    li {
        color: #ffffff;
        font-size: 18px;
        line-height: 60px;
        display: inline-block;
        list-style: none;
        padding: 0 15px;
        cursor: pointer;

        &:hover{
            color: #343434;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }
}
</style>