<template>
  <div id="app">
    <Navbar />
    <router-view />
  </div>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
  name: 'App',
  components: {
    Navbar
  }
}
</script>

<style lang="scss">
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
  margin: 60px 0 0 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;

}

section {
  padding: 15px;
  h2 {
    margin: 0;
    font-size: 24px;
  }

}
</style>
